/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
    -fx-text-base-color: #000000;
    -fx-background-color: #e5f4fe;
    -fx-font-size: 14px;
}

.button {
-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 3 0, 0 0 4 0, 0 0 5 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #FAA33a
        #FAA33a
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #ff8000
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}


.button:pressed {
	-fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

#help {
	-fx-background-color: #FAA33a;
	-fx-background-radius: 30;
	-fx-padding:0 0 0 0;
    -fx-background-insets: 0,0,0,0 ;
    -fx-effect: none;
}

.table-view {
	-fx-background-color: #C0E5FE;
	-fx-border-color: #FAA33a;
}

.table-view .column-header {
    -fx-background-color: #a7dbfe;
}


.table-row-cell{
    -fx-background-color: #ffffff;
}

.table-row-cell:odd{
    -fx-background-color: #f2faff;
}

.table-row-cell:selected {
    -fx-background-color: #ffa31a;
}

.combo-box {
	-fx-background-color: #f3dfc8;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #f3dfc8;
    -fx-text-fill: -fx-text-inner-color;
}

.slider .thumb {
	-fx-background-color: #FAA33a;
}

.text-field {
	-fx-border-color: #FAA33a;
}

.text-area {
	-fx-border-color: #FAA33a;
}




